extends layout.pug

block content
    h1.centered Dashboard
    
    .horizontal-align-centered
        for platform in platforms
            .vertical-align
            img(src='../images/' + platform + '-logo.svg', class='logo-image')
