extends inset_layout.pug

block inset_content
    .horizontal-align-centered
        h1 Dashboard for
        img(src='../images/' + platform + '-logo.svg', class='logo-image' style='padding-left: var(--spacing-2)')
