extends inset_layout.pug

append head 
    link(rel='stylesheet', href='./stylesheets/playlist.css')
    script(src='./javascript/playlist.js')

block inset_content
    .horizontal-align-centered
        h1 Dashboard for
        img(src='../images/' + platform + '-logo.svg', class='dashboard-logo' style='padding-left: var(--spacing-2)')
  
    div.playlists-container
        ul.playlists
            each playlist in playlists
                li.playlist-item(onclick="togglePlaylist(this)" id=playlist.id)
                    .horizontal-align-left
                        if playlist.images.length > 0
                            img(src=playlist.images[0].url, class='playlist-image')
                        else
                            img(src="../images/playlist-placeholder-" + platform + ".jpg", class="playlist-image")
                        p(class='playlist-name') #{playlist.name}

        div.playlist-songs(style="display: none;")
            ul.songs
                li.song-item
                    | Song 1
                li.song-item
                    | Song 2
                li.song-item
                    | Song 3
    div.border-column

    script.
        function togglePlaylist(playlist) {
            playlist.classList.toggle('collapsed');
            // display playlist songs by remove display: none
            const songs = document.querySelector('.playlist-songs');
            console.log(songs);
            songs.style.display = songs.style.display === 'none' ? 'block' : 'none';
        }
