extends layout.pug

block head
    link(rel='stylesheet', href='/flash.css')
    link(rel='stylesheet', href='/page.css')

block content
    .Page-inset
        include partials/_flash.pug
        block inset_content
