doctype=html
html
  head
    title Groove✨
    link(rel='stylesheet' href='/stylesheets/output.css')
    block head
  
  body
    .body-content
      .navbar
        h1 Groove✨
        div.navbar-links
          a(class=(currentPage === 'Home' ? 'active' : '') href='/') Home
          a(class=(currentPage === 'About' ? 'active' : '') href='/about') About
          a(class=(currentPage === 'Contact' ? 'active' : '') href='/contact') Contact
  
    .FlashList-inset
      include partials/_flash.pug
    block content
