doctype=html
html
  head
    title Groove✨
    link(rel='stylesheet' href='/style.css')
    link(rel='stylesheet', href='/vars.css')
    link(rel='stylesheet', href='/nav.css')
    link(rel='stylesheet', href='/image.css')
    link(rel='stylesheet', href='/flash.css')
    block head
  
  body
    .body-content
      .navbar
        h1 Groove✨
        div.navbar-links
          a(class=(currentPage === 'Home' ? 'active' : '') href='/') Home
          a(class=(currentPage === 'About' ? 'active' : '') href='/about') About
          a(class=(currentPage === 'Contact' ? 'active' : '') href='/contact') Contact

      //- if messages
      //-   .FlashList
      //-     for message in Object.keys(messages)
      //-       .FlashMessage(class="FlashMessage--" + message)
      //-         .FlashMessage-inner
      //-           p= messages[message]
      include partials/_flash.pug
  
      block content
