.Page-inset {
  max-width: var(--content-width);
  margin: 0 auto;
  padding-bottom: var(--spacing-5);
}

.Page-title {
  margin: 0;
  margin-bottom: var(--spacing-3);
}

.Page-titles {
  .Page-title {
    margin-bottom: var(--spacing-1);
  }
}

.Page h2,
.Page-subtitle {
  margin-bottom: var(--spacing-3);
}

.Page section {
  margin-top: var(--spacing-2);
}

.Page section + section {
  margin-top: var(--spacing-5);
}
