.playlist-and-songs-container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: 100%; /* Remove to make songs list bigger */
}

.playlists-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  width: 100%;
  transition: width 1s ease;
  overflow-y: scroll;
}

.playlists-container.collapsed {
  width: 40%;
}

.playlists-container > ul {
  list-style-type: none;
}

.playlists-container > ul > li + li {
  margin-top: var(--spacing-2);
}

.playlist-item {
  cursor: pointer;
  width: 100%;
  border: var(--line-light) solid var(--secondary-color-dark);
  border-radius: var(--radius-round);
  transition: background-color 1s ease-in-out;
}

.playlist-item.active {
  background-color: var(--secondary-color-light);
}

.playlist-item.active.Spotify {
  background-color: var(--spotify-color);
}

.playlist-item.active.AppleMusic {
  background-color: var(--apple-music-color);
}

.playlist-item.active.SoundCloud {
  background-color: var(--soundcloud-color);
}

.playlist-item.active.Youtube {
  background-color: var(--youtube-color);
}

.playlist-item.active.Deezer {
  background-color: var(--deezer-color);
}

.playlist-image {
  width: 30%;
  height: 50%;
  /* object-fit: cover; */
  border-radius: var(--radius-round);
}

.playlist-name {
  font-size: var(--font-medium);
  font-weight: var(--font-weight-bold);
  margin-left: var(--spacing-4);
}

.playlist-songs {
  flex: 1;
  padding: var(--spacing-5) var(--spacing-6);
  margin: var(--spacing-2);
  transition: flex-basis 0.3s ease-in-out;
  overflow-y: scroll;
  /* height: fit-content;  add to make songs list bigger */
}

.playlist-songs.Spotify {
  border: var(--line-heavy) solid var(--spotify-color);
  border-radius: var(--radius-medium);
}

.playlist-songs.AppleMusic {
  border: var(--line-heavy) solid var(--apple-music-color);
  border-radius: var(--radius-medium);
}

.playlist-songs.SoundCloud {
  border: var(--line-heavy) solid var(--soundcloud-color);
  border-radius: var(--radius-medium);
}

.playlist-songs.Youtube {
  border: var(--line-heavy) solid var(--youtube-color);
  border-radius: var(--radius-medium);
}

.playlist-songs.Deezer {
  border: var(--line-heavy) double var(--deezer-color);
  border-radius: var(--radius-medium);
}

.song-list {
  list-style-type: none;
  padding: 0;
  font-size: var(--font-large);
}

.song-list-item {
  margin-bottom: var(--spacing-4);
  display: flex;
  align-items: center;
}

.song-list-item > img {
  width: 15%;
  object-fit: cover;
  border-radius: var(--radius-round);
  margin-right: var(--spacing-3);
}

.border-column {
  width: 1px;
  height: 100%;
  background-color: #ddd;
}
