body {
  width: 100%;
  margin: 0;
  background-color: var(--primary-color-dark);
  color: var(--primary-color-light);
}

.body-content {
  margin: 0 auto;
}

.inner-content {
  margin: 0 var(--spacing-3);
}

/* content with top and bottom spacing */
.content {
  margin: var(--spacing-3) 0;
}

.dark-primary {
  color: var(--primary-color-dark);
}

.dark-secondary {
  color: var(--secondary-color-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-primary);
  margin-bottom: var(--spacing-4);
}

p,
span,
a {
  font-family: var(--font-family-secondary);
}

ul.footer {
  list-style: none;
  display: inline;
}
ul.footer li {
  display: inline;
  margin-right: 1em;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: auto;
}

td {
  border: 0px solid #ddd;
  padding: 12px;
  padding-left: 10px;
}

h1 {
  font-size: var(--font-xlarge);
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: var(--font-large);
  font-weight: var(--font-weight-bold);
}

h3 {
  font-size: var(--font-medium);
  font-weight: var(--font-weight-bold);
}

p {
  font-size: var(--font-medium);
}

.centered {
  text-align: center;
}

.horizontal-align-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal-align-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.vertical-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
