:root {
  /* Breakpoints */
  --breakpoint-subscribe: 400px;
  --breakpoint-case-studies: 672px;
  --breakpoint-post: 960px;
  --desktop-mid-width: 1336px;
  --desktop-width: 1025px;
  --breakpoint-tablet: 1024px;
  --breakpoint-mobile: 767px;

  /* Colors */
  /* Primary colors */
  --primary-color-dark: rgb(40, 45, 48);
  --primary-color-beige: rgb(243, 229, 214);
  --primary-color-brown: rgb(204, 98, 35);
  --primary-color-light: rgb(255, 255, 255);

  /* Secondary colors */
  --secondary-color-dark: rgb(57, 62, 63);
  --secondary-color-light: rgb(228, 221, 221);

  /* Imported colors */
  /* Neutral */
  --a1-neutral: #393939;
  --a2-neutral: #929292;
  --a3-neutral: #ebebeb;
  --a4-neutral: #ffffff;

  /* Primary */
  --b1-coral: #f26865;
  --b2-dark-green: #00535b;
  --b3-green: #008375;
  --b4-yellow: #f9a021;
  --b5-blue: #247091;

  /* Secondary */
  --c1-grey:#727272;
  --c2-black: #0a1c23;
  --c3-blue: #134588;
  --c4-blue: #2166ac;
  --c5-blue: #4393c3;
  --c6-blue: #92c5de;
  --c7-blue: #d1efff;
  --c8-green: #326c10;
  --c9-green: #4d9221;
  --c10-green: #7fbc41;
  --c11-green: #afea67;
  --c12-green: #d9f0d3;
  --c13-red: #c2182b;
  --c14-orange: #f45d42;
  --c15-orange: #fea146;
  --c16-yellow: #ffcd46;

  /* Semantic */
  --d1-finalized-green: #0f7a5c;
  --d2-finalized-background: #d0f5eb;
  --e1-returned-red: #db1e2d;
  --e2-returned-background: #f8d2d5;
  --f1-in-progress-blue: #4451e8;
  --f2-in-progress-background: #dadcfa;
  --g1-new-yellow: #dbac1e;
  --g2-new-background: #f8eed1;

  /* Additional */
  --h1--hover-yellow: #ffc471;
  --h2--hover-blue: #3a7e9c;

  /* Spacing */
  --spacing-1: 5px;
  --spacing-2: 10px;
  --spacing-3: 20px;
  --spacing-4: 50px;
  --spacing-5: 100px;
  --spacing-6: 200px;

  /* Font sizes */
  --font-small: 12px;
  --font-medium: 16px;
  --font-large: 20px;
  --font-xlarge: 48px;


  /* Font families */
  --font-family-primary: 'Times New Roman', serif;
  --font-family-secondary: 'Helevectica', sans-serif;

  /* Font weights */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Line heights */
  --line-light: 1px;
  --line-medium: 2px;
  --line-heavy: 3px;

  /* Flash messages */
  --alert-colour: var(--error-colour);
  --notice-colour: var(--b3-green);
  --error-colour: var(--b1-coral);

  /* Border radius */
  --radius-round: 30px;
  --radius-medium: 20px;
  --radius-small: 5px;

  /** Screen width */
  --grid-margin: 74px;
  --grid-gutter: 18px;
  --grid-column: 53px;

  --screen-min-width: 1025px;
  --content-width: calc(var(--screen-min-width) - (var(--grid-margin) * 2) + ((100vw - var(--screen-min-width)) * 0.5));

  @media (max-width: var(--breakpoint-tablet)) {
    --grid-margin: 64px;
    --grid-gutter: 20px;
    --grid-column: 35px;

    --screen-min-width: 768px;

    --radius-round: 20px;
    --radius-medium: 16px;
    --radius-small: 4px;
  }

  @media (max-width: var(--breakpoint-mobile)) {
    --grid-margin: 22px;
    --grid-gutter: 8px;
    --grid-column: 19px;

    --screen-min-width: 360px;

    --radius-round: 16px;
    --radius-medium: 14px;
    --radius-small: 2px;
  }
}
