script(src="https://sdk.scdn.co/spotify-player.js")
script(src="../../javascript/spotify_player.js")

div(id='spotify-access-token' data-token=token)
//- <button id="togglePlay">Toggle Play</button>
//- .song-player
//-     img(src="../images/playlist-placeholder-spotify.jpg", class="now-playing-cover")
//-     .now-playing-side
//-         .now-playing-name Song Name
//-         .now-playing-artist Artist Name

