/* Platforms */
:root {
  /* Colors */
  /* Primary colors */
  --primary-color-dark: rgb(40, 45, 48);
  --primary-color-beige: rgb(243, 229, 214);
  --primary-color-brown: rgb(204, 98, 35);
  --primary-color-light: rgb(255, 255, 255);
  /* Secondary colors */
  --secondary-color-dark: rgb(57, 62, 63);
  --secondary-color-light: rgb(228, 221, 221);
  /* Platform Colors */
  --spotify-color: rgb(29, 185, 84);
  --apple-music-color: rgb(252, 60, 68);
  --youtube-music-color: rgb(255, 0, 0);
  --deezer-color: rgb(0, 185, 255);
  --soundcloud-color: rgb(242, 111, 35);
  /* Imported colors */
  /* Neutral */
  --a1-neutral: #393939;
  --a2-neutral: #929292;
  --a3-neutral: #ebebeb;
  --a4-neutral: #ffffff;
  /* Primary */
  --b1-coral: #f26865;
  --b2-dark-green: #00535b;
  --b3-green: #008375;
  --b4-yellow: #f9a021;
  --b5-blue: #247091;
  /* Secondary */
  --c1-grey: #727272;
  --c2-black: #0a1c23;
  --c3-blue: #134588;
  --c4-blue: #2166ac;
  --c5-blue: #4393c3;
  --c6-blue: #92c5de;
  --c7-blue: #d1efff;
  --c8-green: #326c10;
  --c9-green: #4d9221;
  --c10-green: #7fbc41;
  --c11-green: #afea67;
  --c12-green: #d9f0d3;
  --c13-red: #c2182b;
  --c14-orange: #f45d42;
  --c15-orange: #fea146;
  --c16-yellow: #ffcd46;
  /* Semantic */
  --d1-finalized-green: #0f7a5c;
  --d2-finalized-background: #d0f5eb;
  --e1-returned-red: #db1e2d;
  --e2-returned-background: #f8d2d5;
  --f1-in-progress-blue: #4451e8;
  --f2-in-progress-background: #dadcfa;
  --g1-new-yellow: #dbac1e;
  --g2-new-background: #f8eed1;
  /* Additional */
  --h1--hover-yellow: #ffc471;
  --h2--hover-blue: #3a7e9c;
  /* Spacing */
  --spacing-1: 5px;
  --spacing-2: 10px;
  --spacing-3: 20px;
  --spacing-4: 30px;
  --spacing-5: 50px;
  --spacing-6: 80px;
  --spacing-7: 100px;
  --spacing-8: 150px;
  --spacing-9: 200px;
  /* Font sizes */
  --font-small: 12px;
  --font-medium: 16px;
  --font-large: 20px;
  --font-xlarge: 48px;
  /* Font families */
  --font-family-primary: 'Times New Roman', serif;
  --font-family-secondary: 'Helevectica', sans-serif;
  /* Font weights */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  /* Line heights */
  --line-light: 1px;
  --line-medium: 2px;
  --line-heavy: 3px;
  /* Flash messages */
  --alert-colour: var(--error-colour);
  --notice-colour: var(--b3-green);
  --error-colour: var(--b1-coral);
  /* Border radius */
  --radius-round: 30px;
  --radius-medium: 20px;
  --radius-small: 5px;
  /** Screen width */
  --grid-margin: 74px;
  --grid-gutter: 18px;
  --grid-column: 53px;
  --screen-min-width: 1025px;
  --content-width: calc(var(--screen-min-width) - (var(--grid-margin) * 2) + ((100vw - var(--screen-min-width)) * 0.5));
}
@media screen and (max-width: 1024px) {
  :root {
    --grid-margin: 64px;
    --grid-gutter: 20px;
    --grid-column: 35px;
    --screen-min-width: 768px;
    --radius-round: 20px;
    --radius-medium: 16px;
    --radius-small: 4px;
  }
}
@media screen and (max-width: 767px) {
  :root {
    --grid-margin: 22px;
    --grid-gutter: 8px;
    --grid-column: 19px;
    --screen-min-width: 360px;
    --radius-round: 16px;
    --radius-medium: 14px;
    --radius-small: 2px;
  }
}

/* Platforms */
:root {
  /* Colors */
  /* Primary colors */
  --primary-color-dark: rgb(40, 45, 48);
  --primary-color-beige: rgb(243, 229, 214);
  --primary-color-brown: rgb(204, 98, 35);
  --primary-color-light: rgb(255, 255, 255);
  /* Secondary colors */
  --secondary-color-dark: rgb(57, 62, 63);
  --secondary-color-light: rgb(228, 221, 221);
  /* Platform Colors */
  --spotify-color: rgb(29, 185, 84);
  --apple-music-color: rgb(252, 60, 68);
  --youtube-music-color: rgb(255, 0, 0);
  --deezer-color: rgb(0, 185, 255);
  --soundcloud-color: rgb(242, 111, 35);
  /* Imported colors */
  /* Neutral */
  --a1-neutral: #393939;
  --a2-neutral: #929292;
  --a3-neutral: #ebebeb;
  --a4-neutral: #ffffff;
  /* Primary */
  --b1-coral: #f26865;
  --b2-dark-green: #00535b;
  --b3-green: #008375;
  --b4-yellow: #f9a021;
  --b5-blue: #247091;
  /* Secondary */
  --c1-grey: #727272;
  --c2-black: #0a1c23;
  --c3-blue: #134588;
  --c4-blue: #2166ac;
  --c5-blue: #4393c3;
  --c6-blue: #92c5de;
  --c7-blue: #d1efff;
  --c8-green: #326c10;
  --c9-green: #4d9221;
  --c10-green: #7fbc41;
  --c11-green: #afea67;
  --c12-green: #d9f0d3;
  --c13-red: #c2182b;
  --c14-orange: #f45d42;
  --c15-orange: #fea146;
  --c16-yellow: #ffcd46;
  /* Semantic */
  --d1-finalized-green: #0f7a5c;
  --d2-finalized-background: #d0f5eb;
  --e1-returned-red: #db1e2d;
  --e2-returned-background: #f8d2d5;
  --f1-in-progress-blue: #4451e8;
  --f2-in-progress-background: #dadcfa;
  --g1-new-yellow: #dbac1e;
  --g2-new-background: #f8eed1;
  /* Additional */
  --h1--hover-yellow: #ffc471;
  --h2--hover-blue: #3a7e9c;
  /* Spacing */
  --spacing-1: 5px;
  --spacing-2: 10px;
  --spacing-3: 20px;
  --spacing-4: 30px;
  --spacing-5: 50px;
  --spacing-6: 80px;
  --spacing-7: 100px;
  --spacing-8: 150px;
  --spacing-9: 200px;
  /* Font sizes */
  --font-small: 12px;
  --font-medium: 16px;
  --font-large: 20px;
  --font-xlarge: 48px;
  /* Font families */
  --font-family-primary: 'Times New Roman', serif;
  --font-family-secondary: 'Helevectica', sans-serif;
  /* Font weights */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  /* Line heights */
  --line-light: 1px;
  --line-medium: 2px;
  --line-heavy: 3px;
  /* Flash messages */
  --alert-colour: var(--error-colour);
  --notice-colour: var(--b3-green);
  --error-colour: var(--b1-coral);
  /* Border radius */
  --radius-round: 30px;
  --radius-medium: 20px;
  --radius-small: 5px;
  /** Screen width */
  --grid-margin: 74px;
  --grid-gutter: 18px;
  --grid-column: 53px;
  --screen-min-width: 1025px;
  --content-width: calc(var(--screen-min-width) - (var(--grid-margin) * 2) + ((100vw - var(--screen-min-width)) * 0.5));
}

@media screen and (max-width: 1024px) {
  :root {
    --grid-margin: 64px;
    --grid-gutter: 20px;
    --grid-column: 35px;
    --screen-min-width: 768px;
    --radius-round: 20px;
    --radius-medium: 16px;
    --radius-small: 4px;
  }
}
@media screen and (max-width: 767px) {
  :root {
    --grid-margin: 22px;
    --grid-gutter: 8px;
    --grid-column: 19px;
    --screen-min-width: 360px;
    --radius-round: 16px;
    --radius-medium: 14px;
    --radius-small: 2px;
  }
}
.FlashList {
  padding: var(--spacing-1) 0;
}

.FlashList-inset {
  max-width: var(--content-width);
  margin: 0 auto;
}

.FlashMessage-inner {
  margin-top: 1px;
  padding: var(--spacing-2);
  display: flex;
  align-items: center;
  border-radius: var(--radius-small);
}
.FlashMessage-inner .icon {
  width: 28px;
  height: 28px;
  min-width: 28px;
  min-height: 28px;
  margin-right: 6px;
}

.FlashMessage + .FlashMessage {
  margin-top: var(--spacing-1);
}

.FlashMessage--notice .FlashMessage-inner {
  border: var(--line-light) solid var(--notice-colour);
  color: var(--notice-colour);
}

.FlashMessage--alert .FlashMessage-inner {
  border: var(--line-light) solid var(--alert-colour);
  color: var(--alert-colour);
}

.Flash--inverted {
  background-color: var(--b1-coral);
}
.Flash--inverted .FlashMessage-inner {
  border: var(--line-light) solid var(--a4-neutral);
  color: var(--a4-neutral);
}

.circular-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
}

.image-large {
  max-width: 60%;
  max-height: 60%;
}

.image-medium {
  max-width: 40%;
  max-height: 40%;
}

.image-small {
  max-width: 20%;
  max-height: 20%;
}

.logo-image {
  width: 100px;
  height: auto;
}

.dashboard-logo {
  width: 200px;
  height: auto;
}

.logo-link {
  margin: var(--spacing-3);
  text-decoration: none;
  color: var(--primary-color-light);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--spacing-3);
  background-color: var(--primary-color-dark);
  border-bottom: var(--line-light) solid var(--secondary-color-dark);
}

.navbar-links a {
  margin-left: var(--spacing-3);
  text-decoration: none;
  color: var(--primary-color-light);
}
.navbar-links a:hover {
  color: var(--primary-color-brown);
}
.navbar-links a.active {
  position: relative;
  text-decoration: none;
}
.navbar-links a.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: var(--primary-color-light);
}

.Page-inset {
  max-width: var(--content-width);
  margin: 0 auto;
  padding-bottom: var(--spacing-5);
}

.Page-title {
  margin: 0;
  margin-bottom: var(--spacing-3);
}

.Page-titles .Page-title {
  margin-bottom: var(--spacing-1);
}

.Page h2,
.Page-subtitle {
  margin-bottom: var(--spacing-3);
}

.Page section {
  margin-top: var(--spacing-2);
}

.Page section + section {
  margin-top: var(--spacing-5);
}

body {
  width: 100%;
  margin: 0;
  background-color: var(--primary-color-dark);
  color: var(--primary-color-light);
  /* Hide for now */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

.body-content {
  margin: 0 auto;
}

.inner-content {
  margin: 0 var(--spacing-3);
}

/* content with top and bottom spacing */
.content {
  margin: var(--spacing-3) 0;
}

.dark-primary {
  color: var(--primary-color-dark);
}

.dark-secondary {
  color: var(--secondary-color-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-primary);
  margin-bottom: var(--spacing-4);
}

p,
span,
a {
  font-family: var(--font-family-secondary);
}

a {
  color: var(--primary-color-light);
  text-decoration: none;
}

ul.footer {
  list-style: none;
  display: inline;
}

ul.footer li {
  display: inline;
  margin-right: 1em;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: auto;
}

td {
  border: 0px solid #ddd;
  padding: 12px;
  padding-left: 10px;
}

h1 {
  font-size: var(--font-xlarge);
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: var(--font-large);
  font-weight: var(--font-weight-bold);
}

h3 {
  font-size: var(--font-medium);
  font-weight: var(--font-weight-bold);
}

p {
  font-size: var(--font-medium);
}

.centered {
  text-align: center;
}

.horizontal-align-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal-align-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.vertical-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card.first {
  background-color: var(--primary-color-dark);
  width: 100%;
}

.card.second {
  background-color: var(--primary-color-beige);
  width: 100%;
}

.card.third {
  background-color: var(--primary-color-brown);
  width: 100%;
}

/* From: https://projects.lukehaas.me/css-loaders/ */
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}

.loader {
  color: var(--a4-neutral);
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader.spotify {
  color: var(--spotify-color);
}
.loader.apple-music {
  color: var(--apple-music-color);
}
.loader.youtube-music {
  color: var(--youtube-music-color);
}
.loader.deezer {
  color: var(--deezer-color);
}
.loader.soundcloud {
  color: var(--soundcloud-color);
}

.loader:before,
.loader:after {
  position: absolute;
  content: '';
}

.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: var(--primary-color-dark);
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.1em 5.1em;
  transform-origin: 5.1em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}

.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: var(--primary-color-dark);
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 4.9em;
  -webkit-transform-origin: 0.1em 5.1em;
  transform-origin: 0.1em 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}

@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.playlist-and-songs-container {
  display: flex;
  flex-basis: auto;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: 100%; /* Remove to make songs list bigger */
}

.playlists-container {
  width: 100%;
  max-width: 100%;
  transition: all 1s ease-in-out;
  overflow-y: scroll;
  flex: 2;
}
.playlists-container.collapsed {
  flex: 1;
}
.playlists-container ul {
  list-style-type: none;
}
.playlists-container ul li + li {
  margin-top: var(--spacing-2);
}

.playlist-item {
  cursor: pointer;
  width: 100%;
  border: var(--line-light) solid var(--secondary-color-dark);
  border-radius: var(--radius-round);
}
.playlist-item:hover {
  background-color: var(--secondary-color-dark);
  transition: none;
}
.playlist-item.active {
  transition: background-color 1s ease-in-out;
}
.playlist-item.active.spotify {
  background-color: var(--spotify-color);
}
.playlist-item.active.apple-music {
  background-color: var(--apple-music-color);
}
.playlist-item.active.youtube-music {
  background-color: var(--youtube-music-color);
}
.playlist-item.active.deezer {
  background-color: var(--deezer-color);
}
.playlist-item.active.soundcloud {
  background-color: var(--soundcloud-color);
}

.playlist-image {
  width: 30%;
  height: 50%;
  /* object-fit: cover; */
  border-radius: var(--radius-round);
}

.playlist-name {
  font-size: var(--font-medium);
  font-weight: var(--font-weight-bold);
  margin-left: var(--spacing-4);
}

.playlist-songs {
  transition: all 1s ease-in-out;
  flex: 0;
  overflow-y: scroll;
  /* height: fit-content;  add to make songs list bigger */
}
.playlist-songs.expanded {
  flex: 1;
  border: var(--line-light) solid var(--secondary-color-dark);
  border-radius: var(--radius-round);
  padding: var(--spacing-5) var(--spacing-6);
  margin: var(--spacing-2);
}
.playlist-songs.expanded.spotify {
  border-color: var(--spotify-color);
}
.playlist-songs.expanded.apple-music {
  border-color: var(--apple-music-color);
}
.playlist-songs.expanded.youtube-music {
  border-color: var(--youtube-music-color);
}
.playlist-songs.expanded.deezer {
  border-color: var(--deezer-color);
}
.playlist-songs.expanded.soundcloud {
  border-color: var(--soundcloud-color);
}

.song-list {
  list-style-type: none;
  padding: 0;
  font-size: var(--font-large);
}

.song-list-item {
  margin-bottom: var(--spacing-2);
  padding: var(--spacing-2);
  display: flex;
  align-items: center;
}
.song-list-item:hover {
  cursor: pointer;
}
.song-list-item.now-playing,
.song-list-item:hover {
  background-color: var(--secondary-color-dark);
  border-radius: var(--radius-medium);
}
.song-list-item img {
  width: 15%;
  object-fit: cover;
  border-radius: var(--radius-round);
  margin-right: var(--spacing-3);
}

.playlist-song-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
}
.playlist-song-info .artist {
  font-size: var(--font-small);
  font-weight: var(--font-weight-bold);
  color: var(--a2-neutral);
}

.border-column {
  width: 1px;
  height: 100%;
  background-color: #ddd;
}

.music-player {
  height: 15vh;
  max-height: 150px;
  width: 100%;
  background-color: var(--secondary-color-dark);
  position: fixed;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  bottom: 0;
  left: 0;
}
.music-player ul {
  list-style: none;
  margin: 0;
  padding: var(--spacing-2);
  height: 100%;
  display: flex;
}
.music-player ul li {
  display: inline-block;
  height: 100%;
  flex: 1;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
}
.cover img {
  height: min(15vh, 150px);
}

.music-player .player-song-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.music-player .player-song-info h1 {
  margin-top: 15px;
  margin-left: 180px;
  line-height: 0;
  margin-bottom: var(--spacing-1);
}
.music-player .player-song-info h4 {
  margin-left: 180px;
  color: var(--c1-grey);
  margin-bottom: 0;
}
.music-player .player-song-info h2 {
  margin-left: 180px;
  margin-bottom: 0;
}
.music-player .player-song-info .info-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: var(--spacing-2);
  width: 50%;
}
.music-player .player-song-info .button-items {
  margin-left: var(--spacing-5);
  display: flex;
  flex-direction: column;
  margin-top: var(--spacing-3);
}
.music-player .player-song-info .button-items .playback-slider {
  width: 182px;
  height: 8px;
  background: var(--c2-black);
  border-radius: var(--radius-small);
}
.music-player .player-song-info .button-items .playback-slider div {
  width: 4px;
  height: 8px;
  margin-top: 1px;
  border-radius: var(--radius-small);
}
.music-player .player-song-info .button-items .playback-slider div.spotify {
  background: var(--spotify-color);
}
.music-player .player-song-info .button-items .playback-slider div.apple-music {
  background: var(--apple-music-color);
}
.music-player .player-song-info .button-items .playback-slider div.youtube-music {
  background: var(--youtube-music-color);
}
.music-player .player-song-info .button-items .playback-slider div.deezer {
  background: var(--deezer-color);
}
.music-player .player-song-info .button-items .playback-slider div.soundcloud {
  background: var(--soundcloud-color);
}
.music-player .player-song-info .button-items .timer {
  line-height: 0;
  font-size: 9pt;
  float: right;
  font-family: Arial, Sans-Serif;
}
.music-player .player-song-info .button-items .controls {
  margin-top: 20px;
}
.music-player .player-song-info .button-items .controls svg:nth-child(2) {
  margin-left: 5px;
  margin-right: 5px;
}
.music-player .player-song-info .button-items .play-music {
  padding: 0 3px;
  width: 30px;
  height: 30px;
  x: 0px;
  y: 0px;
  enable-background: new 0 0 25 25;
}
.music-player .player-song-info .button-items .play-music g {
  stroke: #fefefe;
  stroke-width: 1;
  stroke-miterlimit: 10;
}
.music-player .player-song-info .button-items .play-music g path {
  fill: #fefefe;
}
.music-player .player-song-info .button-items .play-music:hover {
  cursor: pointer;
}
.music-player .player-song-info .button-items .play-music:hover g {
  stroke: #8f4da9;
  cursor: pointer;
}
.music-player .player-song-info .button-items .play-music:hover g path {
  fill: #9b59b6;
  cursor: pointer;
}
.music-player .player-song-info .button-items .step-backward {
  width: 18px;
  height: 18px;
  x: 0px;
  y: 0px;
  enable-background: new 0 0 25 25;
  margin-bottom: 5px;
}
.music-player .player-song-info .button-items .step-backward g polygon {
  fill: #fefefe;
}
.music-player .player-song-info .button-items .step-foreward {
  width: 18px;
  height: 18px;
  x: 0px;
  y: 0px;
  enable-background: new 0 0 25 25;
  margin-bottom: 5px;
}
.music-player .player-song-info .button-items .step-foreward g polygon {
  fill: #fefefe;
}
.music-player .player-song-info .button-items .pause-music {
  x: 0px;
  y: 0px;
  enable-background: new 0 0 25 25;
  width: 30px;
  height: 30px;
  position: absolute;
  margin-left: -38px;
  cursor: pointer;
}
.music-player .player-song-info .button-items .pause-music rect {
  fill: white;
}
.music-player .player-song-info .button-items .pause-music:hover rect {
  fill: #8f4da9;
}
.music-player .player-song-info .button-items .step-backward g polygon:hover,
.music-player .player-song-info .button-items .step-foreward g polygon:hover {
  fill: #ef6dbc;
  cursor: pointer;
}
.music-player .player-song-info .button-items .expend {
  padding: 0.5px;
  cursor: pointer;
}
.music-player .player-song-info .button-items .expend svg:hover g polygon {
  fill: #ef6dbc;
}
.music-player .player-song-info .shuffle-icon {
  width: 30px;
  margin-left: var(--spacing-4);
  cursor: pointer;
}
.music-player .player-song-info .shuffle-icon.active.spotify {
  fill: var(--spotify-color);
}
.music-player .player-song-info .shuffle-icon.active.apple-music {
  fill: var(--apple-music-color);
}
.music-player .player-song-info .shuffle-icon.active.youtube-music {
  fill: var(--youtube-music-color);
}
.music-player .player-song-info .shuffle-icon.active.deezer {
  fill: var(--deezer-color);
}
.music-player .player-song-info .shuffle-icon.active.soundcloud {
  fill: var(--soundcloud-color);
}
.music-player .player-song-info .volume {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: var(--spacing-4);
  margin-left: var(--spacing-4);
  overflow: hidden;
}
.music-player .player-song-info .volume .volume-slider {
  width: 8px;
  height: 100%;
  background: var(--c2-black);
  border-radius: var(--radius-small);
  margin-left: var(--spacing-2);
  position: relative;
}
.music-player .player-song-info .volume .volume-slider div {
  width: 8px;
  height: 4px;
  margin-top: 1px;
  border-radius: var(--radius-small);
  position: absolute;
  bottom: 0;
}
.music-player .player-song-info .volume .volume-slider div.spotify {
  background: var(--spotify-color);
}
.music-player .player-song-info .volume .volume-slider div.apple-music {
  background: var(--apple-music-color);
}
.music-player .player-song-info .volume .volume-slider div.youtube-music {
  background: var(--youtube-music-color);
}
.music-player .player-song-info .volume .volume-slider div.deezer {
  background: var(--deezer-color);
}
.music-player .player-song-info .volume .volume-slider div.soundcloud {
  background: var(--soundcloud-color);
}
.music-player .player-song-info .volume .volume-icon {
  width: 20px;
  height: 20px;
}

/*# sourceMappingURL=output.css.map */
